.footer {
    /*background-color: var(--body-color);*/
    width: calc(100vw - .5rem);
    color: var(--text-color-body);
    z-index: 90;
    position: relative;
    padding: 25px;
    /*overflow: hidden;*/
    /*border-radius: 5rem 5rem 0 0;*/

    /*overflow-y: hidden;*/
    /*overflow-x: scroll;*/
    /*scrollbar-width: none;*/

    display: grid;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

.footer .section {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    /*grid-template-columns: 1fr 2fr;*/
    align-items: end;
    pointer-events: auto;
    border: 1px solid var(--body-color-lighter);
    padding: 1rem;
    background-color: rgba(var(--body-color-lighter-rgb), 0.5);
}

.footer .section:hover {
    background-color: rgba(var(--body-color-lighter-rgb), 1);
}

.footer ul li {
    /*background-color: var(--body-color);*/
    /*padding: 0 1rem;*/
}

.footer ul {
    display: grid;
    grid-auto-flow: column;
    white-space: nowrap;
    justify-content: start;
    margin: 0 .5rem;
}

.footer .section .subSection {
    /*margin: 3rem;*/

    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;

    /*padding: 1rem;*/
}

.footer span {
    display: block;
    position: relative;
    font-size: var(--font-size-small);
    width: fit-content;
    font-family: var(--font-family-global);
    text-shadow: var(--box-shadow-global);
    opacity: .5;
}

.footer .section {
    /*opacity: 0;*/
}

.footer ul li a {
    color: var(--text-color-body);
    font-family: var(--font-family-global);
    text-shadow: var(--box-shadow-global);
    text-transform: lowercase;
    opacity: .5;
    margin: .5rem;
}

.footer ul li a:hover {
    opacity: 1;
}

@media screen and (max-width:768px) {
    .footer .section {
        width: 85vw;
    }

    .footer .subSection ul {
        justify-content: start;
        padding-left: 0;
    }
}
