::-webkit-scrollbar {
    /*display: none;*/
    width: .5rem;
    /*border-radius: .5rem;*/
}

::-webkit-scrollbar:hover {
    width: .5rem;
    /*border-radius: .5rem;*/
    /*background-color: var(--body-color);*/
}

::-webkit-scrollbar-thumb {
    background-color: var(--body-color-lighter);
    /*border-radius: .5rem;*/
}
